body {
    font: 20px Arial, sans-serif;
    background-color: #c8c8fa;
}

img {
    margin-bottom: 24px;
}

.navbar  {
}

.quem-sou-eu {
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.redes-sociais {
}

.bg-footer {
    color: black;
}

